body {
	background-color: black;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
}
a {
	color: white;
	text-decoration: none;		
}
a:hover {
	color: #00ff00;
}
li {
	text-decoration: none;
	
}
#logo {
	position: absolute;
	left: 15px;
	top: 15px;
}
#nav {
	position: absolute;
	left: 100px;
	top: 15px;
}
#content {
	position: absolute;
	padding-left: 5%;
	top: 100px;
	padding-right: 5%;
	padding-bottom: 50px;
}
#zork {
	position: relative;
	padding-left:5%;
	padding-right: 5%;
}