body {
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  font-family: 'Times New Roman';
  text-align: center;
  color: #fff;
}

h1 {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-align: left;
  /*text-shadow: 1px 1px #000; */
  color: #fff;
}

